<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spd</title>
    <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="links">
            <a href="/logout">התנתק</a>
            <a href="/search">בחזרה לחיפוש</a>
        </div>
        <h1>SPD - Social Portuguese Dictionary</h1>
    </header>
    <main>
    {% if words %}
        <div class="results">
        {% for word in words %}
            <div class="result">
            <p class="word">{{word[0]}}</p>
            <p>תרגום: {{word[1]}}</p>
            <p>חלק דיבר: {{word[2]}}</p>
            {% if word[3] %}
                <p>{{word[3]}}</p>
            {% endif %}
            <a href="/confirm/{{word[0]}}/{{word[1]}}">אישור</a>
            <a href="/delete/{{word[0]}}">מחיקה</a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>אין מילים המחכות לאישור :)</p>
    {% endif %}
    </main>
</body>
</html>